//navbar
.searchbox {
  margin: 0 auto;
  width: 80%;
  .input-group {
    margin: 0 auto;
    width: 90%;
  }
}

//column anime slot
#slotanime {
  $grid-breakpoints: (
          xs: 0,
          sm: 576px,
          md: 768px,
          lg: 992px,
          xl: 1200px
  ) !default;

  $grid-gutter-width: 20px !default;

  // number of cards per line for each breakpoint
  $cards-per-line: (
          xs: 1,
          sm: 1,
          md: 2,
          lg: 3,
          xl: 4
  );

  @each $name, $breakpoint in $grid-breakpoints {
    @media (min-width: $breakpoint) {
      .card-deck .card {
        @if $breakpoint == 1200px {
          height: 160px;
        } @else if $breakpoint == 992px {
          height: 170px;
        } @else if $breakpoint == 768px {
          height: 200px;
        } @else {
          height: 250px;
        }
        flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
      }
    }
  }
}

//style anime card
.animecard {
  .displayedimage {
    transition: opacity 200ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: mintcream;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0.25em;
    &:hover {
      opacity: 0.5;
    }
  }
  .episode-anime {
    position: absolute;
    bottom: -5px;
    right: -5px;
  }
  .title-anime {
    position: absolute;
    color: #3490dc;
    top: -25px;
    left: 0;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-decoration: none;
    &:hover {
      color: #6c757d;
    }
  }
}

//tooltips
$size-font:12px;
$line:12;
$line-height:1.5;
.tippy-tooltip.dark-theme {
  border: 5px solid #6cb2eb;
  border-radius: 5px;
  .tippy-backdrop {
    height:100%;
    border-radius: 5px;
    background-color: #343a40;
  }
}
.toolt{
  .plotool{
    text-align: justify;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: $size-font*$line*$line-height;
    margin: 0 auto;
    font-size: $size-font;
    line-height: $line-height;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a.btn-outline-info{
    color:#6cb2eb;
    &:hover{
      color:#343a40;
    }
  }
}



//footer
.colfoot {
  margin-top: 5%;
}

.parafoot {
  color: rgba(255, 255, 255, 0.5);
}

.titlefoot {
  color: rgba(255, 255, 255, 0.75);
}

.linkfooter {
  padding: 0px;
}

a.colorlink {
  color: rgba(255, 255, 255, 0.75);
}

a.colorlink:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#topfooter {
  background: #545b62;
}

tr {
  transition: background-color 80ms linear;
}